language: php
php: ["7.2"]
sudo: false
dist: trusty

before_script:
- cd /home/travis/build/
- echo | pecl install channel://pecl.php.net/yaml-2.0.2

- git clone https://github.com/krakjoe/pthreads.git
- cd pthreads
- git checkout 6c6b15138c923b69cfa46ee05fc2dd45da587287
- phpize
- ./configure
- make
- make install
- cd ..
- echo "extension=pthreads.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini

- git clone --recursive https://github.com/pmmp/PocketMine-MP.git
- mkdir -p PocketMine-MP/plugins/CLACore

- cd PocketMine-MP/plugins/
- wget -O DevTools.phar https://github.com/CLADevs/CLACore/blob/master/tests/DevTools_v1.12.8.phar?raw=true
- cd /home/travis/build/

- cp -rf CLADevs/CLACore/src PocketMine-MP/plugins/CLACore
- cp -rf CLADevs/CLACore/resources PocketMine-MP/plugins/CLACore
- cp -rf CLADevs/CLACore/plugin.yml PocketMine-MP/plugins/CLACore
- cp -rf CLADevs/CLACore/LICENSE PocketMine-MP/plugins/CLACore
- cp -rf CLADevs/CLACore/travis.php PocketMine-MP/plugins/CLACore

- cp -rf CLADevs/CLACore/tests PocketMine-MP/plugins/

- cd PocketMine-MP/
- composer install

script:
- php plugins/CLACore/travis.php

notifications:
  email:
    on_failure: always
    on_success: never
